@using EntityLayer.Concrete
@model Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/MessageLayout/Index.cshtml";
}


<div class="pcoded-inner-content">

    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="card">

                    <div class="card-block email-card">
                        <div class="row">
                            <div class="col-lg-12 col-xl-3">
                                <div class="user-head row">
                                    <div class="user-face">
                                        <img class="img-fluid" src="~/web/png/logo.png" alt="Theme-Logo" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-9">
                                <div class="mail-box-head row justify-content-end">
                                    <div class="col-auto">
                                        <form class="form-material">
                                            <div class="material-group">
                                                <div class="form-group form-default">
                                                    <input type="text" name="footer-email" class="form-control" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Search</label>
                                                </div>
                                                <div class="material-addone">
                                                    <i class="icofont icofont-search"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            @await Component.InvokeAsync("_EmailMiniMenuComponentPartial")



                            <div class="col-lg-12 col-xl-9">
                                <div class="mail-body">
                                    <div class="mail-body-content email-read">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>@Model.Title</h5>
                                                <h6 class="float-right">@Model.CreatedDate</h6>
                                            </div>
                                            <div class="card-block">
                                                <div class="media m-b-20">
                                                    <div class="media-left photo-table">
                                                        <a href="#">
                                                            <img class="media-object img-radius" src="~/web/jpg/avatar-3.jpg" alt="E-mail User">
                                                        </a>
                                                    </div>
                                                    <div class="media-body photo-contant">
                                                        <a href="#">
                                                            <h6 class="user-name txt-primary">@Model.Sender.NameSurname</h6>
                                                        </a>
                                                        <a class="user-mail txt-muted" href="#">
                                                            <h6>Kimden:<span class="__cf_email__">@Model.Sender.Email</span></h6>
                                                        </a>
                                                        <div>
                                                            <h6 class="email-welcome-txt">Hello Dear...</h6>
                                                            <p class="email-content">
                                                                @Model.Content
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="styleSelector">
    </div>



