@model List<EntityLayer.Concrete.Message>

@{
    ViewData["Title"] = "Trash";
    Layout = "~/Views/MessageLayout/Index.cshtml";
}

<style>
    .bold-text {
        font-weight: bold;
    }
</style>


<div class="col-lg-8">
    <div class="page-header-title">
        <i class="feather icon-mail bg-c-blue"></i>
        <div class="d-inline">
            <h5>Gelen Mesajlar Çöp Kutusu</h5>
            <span>Size Gelmiş Ve Çöp Kutusuna Taşıdığınız Mesajlar(Dilerseniz Kalıcı Olarak Silebilirsiniz).</span>
        </div>
    </div>
</div>

        </div>
    </div>

<div class="pcoded-inner-content">

    <div class="main-body">
        <div class="page-wrapper">

            <div class="page-body">
                <div class="card">

                    <div class="card-block email-card">
                        <div class="row">
                            <div class="col-lg-12 col-xl-3">
                                <div class="user-head row">
                                    <div class="user-face">
                                        <img class="img-fluid" src="~/web/png/logo.png" alt="Theme-Logo" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-9">
                                <div class="mail-box-head row justify-content-end">
                                    <div class="col-auto">
                                        <form class="form-material">
                                            <div class="material-group">
                                                <div class="form-group form-default">
                                                    <input type="text" name="footer-email" class="form-control" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label">Search</label>
                                                </div>
                                                <div class="material-addone">
                                                    <i class="icofont icofont-search"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            @await Component.InvokeAsync("_EmailMiniMenuComponentPartial")



                            <div class="col-lg-12 col-xl-9">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="e-inbox" role="tabpanel">
                                        <div class="mail-body">
                                            <div class="mail-body-header">
                                          
                                                <button type="button" class="btn btn-danger btn-xs waves-effect waves-light">
                                                    <i class="icofont icofont-ui-delete"></i>
                                                </button>
                                       
                                            </div>
                                            <div class="mail-body-content">
                                                <form asp-action="DeletePermanently" method="post">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            @foreach (var item in Model)
                                                            {
                                                                <tr class="unread">
                                                                    <td>
                                                                        <div class="check-star">
                                                                            <div class="checkbox-fade fade-in-primary checkbox">
                                                                                <label>
                                                                                    <input type="checkbox" name="selectedMessages" value="@item.MessageId">
                                                                                    <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <a href="email-read.html" class="email-name waves-effect">
                                                                            Kimden: <span class="bold-text">@item.Sender.NameSurname</span>
                                                                        </a>
                                                                    </td>
                                                                    <td><a href="email-read.html" class="email-name waves-effect">@item.Title</a></td>
                                                                    <td><a href="email-read.html" class="email-name waves-effect">@item.Content.Substring(0, 50)...</a></td>
                                                                    <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>
                                                                    <td class="email-time">@item.CreatedDate</td>
                                                                </tr>
                                                            }
                                                        </table>
                                                    </div>

                                                    <button type="submit" class="btn btn-danger btn-xs waves-effect waves-light">
                                                        <i class="icofont icofont-ui-delete"></i> Kalıcı Olarak Sil
                                                    </button>
                                                </form>
                                                 
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="styleSelector">
    </div>
    <script>
        document.getElementById('select-all').addEventListener('click', function () {
            const checkboxes = document.querySelectorAll('input[name="selectedMessages"]');
            checkboxes.forEach(cb => cb.checked = this.checked);
        });
    </script>
